<div class="container">
        <div class="row" style="text-align:center">
                <div class="text">
                        <h1 >kitoblar olamiga sayohat</h1>
                         
                </div>
                <div class="col s6">
                        <div class="carousel carousel-slider center" style="height: 540px; width: 432px; margin: auto;">
                                <div class="carousel-item red white-text" href="#one!">
                                        <img src="https://i.imgur.com/Zcihwt4.jpg"> 
                                        <p class="white-text">This is your first panel</p>
                                </div>
                                <div class="carousel-item red white-text" href="#one!">
                                        <img src="https://i.imgur.com/xrhHEgk.jpg">
                                        <p class="white-text">This is your first panel</p>
                                </div>

                                <div class="carousel-item red white-text" href="#one!">
                                        <img src="https://i.imgur.com/iCq1uF5.jpg">
                                        <p class="white-text">This is your first panel</p>
                                </div>

                                <div class="carousel-item red white-text" href="#one!">
                                        <img src="https://i.imgur.com/KDkMFyU.jpg">
                                        <p class="white-text">This is your first panel</p>
                                </div>
                                <div class="carousel-item red white-text" href="#one!">
                                        <img src="https://i.imgur.com/6s4FCW7.jpg">
                                        <p class="white-text">This is your first panel</p>
                                </div>

                                <div class="carousel-item red white-text" href="#one!">
                                        <img src=" https://i.imgur.com/67Hte0D.jpg"> 
                                        <p class="white-text">This is your first panel</p>
                                </div>
                                <div class="carousel-item red white-text" href="#one!">
                                        <img src="https://i.imgur.com/7p3dWOX.jpg">
                                        <p class="white-text">This is your first panel</p>
                                </div>
                                <div class="carousel-item red white-text" href="#one!">
                                        <img src="https://i.imgur.com/Zb40z9P.jpg">
                                        <p class="white-text">This is your first panel</p>
                                </div>
                                <div class="carousel-item red white-text" href="#one!">
                                        <img src="https://i.imgur.com/4QmCza5.jpg">
                                        <p class="white-text">This is your first panel</p>
                                </div>

                        </div>
                </div>
                <div class="col s6">
                        <div class="carousel carousel-slider center" style="height: 540px; width: 432px; margin: auto;">
                                <div class="carousel-item red white-text" href="#one!">
                                        <img src="https://i.imgur.com/EEdOPXt.jpg">
                                        <p class="white-text">This is your first panel</p>
                                </div>
                                <div class="carousel-item red white-text" href="#one!">
                                        <img src="https://i.imgur.com/LXNRG7s.jpg">
                                        <p class="white-text">This is your first panel</p>
                                </div>

                                <div class="carousel-item red white-text" href="#one!">
                                        <img src="https://i.imgur.com/AoO4oHl.jpg">
                                        <p class="white-text">This is your first panel</p>
                                </div>

                                <div class="carousel-item red white-text" href="#one!">
                                        <img src="https://i.imgur.com/P37kfEX.jpg">
                                        <p class="white-text">This is your first panel</p>
                                </div>
                                <div class="carousel-item red white-text" href="#one!">
                                        <img src="https://i.imgur.com/eB7GrU9.jpg">
                                        <p class="white-text">This is your first panel</p>
                                </div>

                                <div class="carousel-item red white-text" href="#one!">
                                        <img src="https://i.imgur.com/ucf8y12.jpg">
                                        <p class="white-text">This is your first panel</p>
                                </div>
                                <div class="carousel-item red white-text" href="#one!">
                                        <img src="https://i.imgur.com/byHC9Ly.jpg">
                                        <p class="white-text">This is your first panel</p>
                                </div>
                                <div class="carousel-item red white-text" href="#one!">
                                        <img src="https://i.imgur.com/CAmBMUZ.jpg">
                                        <p class="white-text">This is your first panel</p>
                                </div>

                        </div>
                </div>
        </div>
</div>